{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 49.54305885,
    "longitude": 25.51909213103763,
    "elevation": 330,
    "unit_system_v2": "metric",
    "location_name": "Головна",
    "time_zone": "Europe/Kyiv",
    "external_url": null,
    "internal_url": null,
    "currency": "UAH",
    "country": "UA",
    "language": "uk",
    "radius": 100
  }
}